/BA_Kösters/BA_Kösters.aux
/BA_Kösters/BA_Kösters.bbl
/BA_Kösters/BA_Kösters.bcf
/BA_Kösters/BA_Kösters.blg
/BA_Kösters/BA_Kösters.lof
/BA_Kösters/BA_Kösters.log
/BA_Kösters/BA_Kösters.lot
/BA_Kösters/BA_Kösters.out
/BA_Kösters/BA_Kösters.run.xml
/BA_Kösters/BA_Kösters.synctex.gz
/BA_Kösters/BA_Kösters.toc
/BA_Kösters/einleitung.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/TrollDetector.iml
/.idea/vcs.xml
/.idea/workspace.xml
/venv/
