*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
/.idea
/venv/
trolldetector/KNN/__pycache__
trolldetector/MLP/__pycache__
trolldetector/NB/__pycache__
trolldetector/SVM/__pycache__
trolldetector/all/__pycache__
trolldetector/dtree/__pycache__
trolldetector/parsing/__pycache__
trolldetector/report/__pycache__
trolldetector/memory/__pycache__